<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletConfigEg</display-name>

<servlet>
<servlet-name>myjsp</servlet-name>
<jsp-file>/configeg.jsp</jsp-file>

</servlet>
<context-param>
<param-name>mysqldriver</param-name>
<param-value>com.mysql.cj.jdbc.Driver</param-value>
</context-param>



<servlet-mapping>
<servlet-name>myjsp</servlet-name>
<url-pattern>/configeg</url-pattern>
</servlet-mapping>

</web-app>